<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
           <center>Premier League</center> 
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large"></ion-title>
        </ion-toolbar>
    </ion-header>

    <center>
        <div id="container">
            <div *ngFor="let t of leagues.leagues">
                <h1 class="ion-30p">
                    <br />
                <img src="{{t.strBadge}}" height="180 px" />
            </h1>
            <div style='text-align:justify;'> 
            <h2 class="ion-60p">
                <!-- <small>{{t.strDescriptionEN}}</small> -->
            </h2>
             </div>
            </div>
        </div>
    </center>
</ion-content>

